
  * {
    box-sizing: border-box;
    
}

body {
    font-family:Raleway, Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
  font-size: 46px;
}

p{
  font-size: 20px;
}

img {
  height: 700px;
  width: 100%;
  background-size: cover;
  
}


/*dialog box*/
  .dialogOverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #6c2726;
    width: 100%;
    z-index: 10;
  }
  
  .dialogBox{
    display: none;  
    position: fixed;
    background: #000;
    border-radius: 7px;
    width: 550px;
    z-index: 10;
  }

  .dialogBox div {
    background: #fff;
    margin: 8px;
  }

  .dialogBoxHead{
    background: #666;
    font-size: 19px;
    padding: 10px;
    color: #ccc;
  }

  .dialogBoxBody{
    background: #333;
    padding: 20px;
    color: #fff;
  }

  .dialogBoxFoot{
    background: #666;
    padding: 10px;
    text-align: right;
  }





                                                            /* Nav */

#navbar {
  overflow: hidden;
  background-color: rgb(39, 9, 9);
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: white;
  color: black;
}

#navbar a.active {
  background-color: #080101;
  color: white;
}

.sticky {
  position: fixed;
  top: 10;
  width: 100%;
  z-index: 1;
} 


@media (max-width: 600px) {
  nav, article {
      width: 100%;
      height: auto;
  }
}









                                                              /* Header */
header {
    background-color: rgb(39, 9, 9);
    padding: 30px;
    font-size: 35px;
    color: white;
}

header h1{
  font-family: 'Spirax', cursive;
  font-size: 90px;
}


@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}







                                                            /* SLIDESHOW */
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  height: auto;
  width: 100%;
  height: 700px;
}

  /* Hide the images by default */
.mySlides {
    display: none;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/*  ABOUT  */

#about {
  padding: 100px;
}

#about h1 {
  color:whitesmoke;
  font-size: 46px;
}

/* Style tab links */
.tablink {
  background-color: #777;
  color: white;
  float: left;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin: 1.25%;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 600px;
}

#story {
  background-color:whitesmoke;
  border-radius: 10px;
}
#events {
  background-color:whitesmoke;
  border-radius: 10px;
}
#customers {
  background-color:whitesmoke;
  border-radius: 10px;
}
#schedule {
  background-color:whitesmoke;
  border-radius: 10px;
}

                                          

/*  MENU  */ 

#menu {
  background-color: rgb(39, 9, 9);
  color: white;
  padding: 20px 10px;
}

#menu .menuHeader {
  padding: 20px;
  margin: 15px;
}

#menu .menuHeader h1 {
  font-size: 46px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(39, 9, 9);
  color: black;
  font-size: 20px;
}



.flex-container > div {
  justify-content: space-around;
  background-color: #f1f1f1;
  border-radius: 10px;
  max-width: 500px;
  width: 300px;
  flex-grow: 9;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}

.flex-container div h1 {
  font-size: 1.5em;
}

.flex-container div h2 {
  font-size: 0.75em;
  text-align: left;
  padding-left: 20px;
}


/*CALCULATOR*/

#calculatorContainer {
background: #333 url('img/cutlery.jpg') center center no-repeat;
background-size: cover;
border-radius: 10px;
color: #532827;
padding: 40px;
margin: 5%;
}

#calculatorContainer h1{
color: white; 
font-size: 46px;
}

#calculator {
width: 400px;
margin: 40px auto 0;
padding: 50px;
box-sizing: border-box;
background: url('img/paper-pattern.jpg') top left repeat;
box-shadow: 0 10px 15px -8px #000;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 10px;
text-align: center;
}

#calculator h1 {
margin: 0 0 20px;
padding: 0 0 20px;
border-bottom: solid 1px #ddd;
}

#calculator form {
text-align: left;
margin: 0 auto;
}

#calculator form label {
display: block;
margin: 25px 0;
font-weight: bold;
}

#calculator form input,
form select {
padding: 8px;
margin: 10px 0;
}

#calculator form input[type="text"] {
width: 90px;
}

#calculator button {
background: #6c2726;
color: white;
border: none;
border-bottom: solid 4px #222;
text-transform: uppercase;
font-size: 18px;
padding: 20px 30px;
width: 100%;
border-radius: 5px;
}

#calculator button:hover {
background: #4c2827;
border-bottom-color: #111;
}

#calculator button:active {
position: relative;
top: 1px;
}

#totalTip {
font-size: 50px;
margin-top: 40px;
}

#totalTip:before {
content: "tip";
font-size: 14px;
font-weight: bold;
display: block;
text-transform: uppercase;
}

#totalTip sup {
font-size: 24px;
top: -18px;
}

#totalTip small {
font-size: 14px;
font-weight: bold;
display: block;
}








                                                  /*CONTACT*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid  #270909;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 6px;
}

input[type=submit] {
  background-color: #270909;
  color: whitesmoke;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #080101;
}

/* Style the container/contact section */
.container {
  background-color: whitesmoke;
  color: black;
  margin: 5%;
  border-radius: 10px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  margin: 0 auto;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }

  

}






/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}


